apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ .Release.Name }}-config
data:
  NODE_ENV: {{ .Values.appConfig.nodeEnv | quote }}
  PORT: {{ .Values.service.targetPort | quote }}
  DATABASE_HOST: {{ .Values.appConfig.dbHost | quote }}